<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: Roboto;
        font-size: small;
        color: #33333344;
      }
      #pageHeader {
        display: -webkit-flex;
        margin: 10px 50px;
      }
      #pageHeader > .logo {
        display: inline-block;
        height: 50px;
        margin-right: 20px;
      }
      #pageHeader > .title {
        line-height: 50px;
        font-family: Roboto;
        font-size: 20px;
      }
      .logo > img {
        height: 100%;
      }
      main {
        margin: 0px 50px;
      }
      .section-title {
        color: #3f50b5;
        font-family: Roboto;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.15px;
        margin-bottom: 10px;
        margin-top: 15px;
        border-bottom: 1px solid #474747;
      }
      .metrics-row {
        text-align: justify;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
      }
      .paper-box {
        display: inline-block;
        width: 160px;
        margin: 10px;
        padding: 10px 15px;
        border: 1px solid #eee;
        border-radius: 8px;
        color: #000;
        background-color: #f8f8f8;
      }
      .paper-box.right {
        position: relative;
        right: 0;
      }
      .paper-box-title {
        font-family: Roboto;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.4px;
        margin-bottom: 4px;
      }
      .paper-box-content {
        font-family: Roboto;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.25px;
      }
      .proofs-table-title {
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.15px;
        margin-top: 20px;
      }
      .proofs-table-wrapper {
        margin-bottom: 30px;
        margin-top: 10px;
        width: 100%;
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.24),
          0px 1px 1px 0px rgba(0, 0, 0, 0.14),
          0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
      }
      .proofs-table {
        border-collapse: collapse;
        width: 100%;
        border: 0;
      }
      .proofs-table th,
      td {
        border: none;
        border-bottom: 1px solid rgba(224, 224, 224, 1);
        padding: 6px;
        font-size: 10px;
        font-family: Roboto;
      }
      .proofs-table tr:last-child > td {
        border-bottom: none;
      }
      .proofs-table th:nth-child(1) {
        text-align: left;
      }
      .proofs-table td:nth-child(n + 2) {
        text-align: center;
      }
      .proofs-table th {
        font-weight: 500;
      }
      #pageFooter {
        margin: 0px 50px;
        font-size: 10px;
      }
    </style>
  </head>

  <body>
    <header id="pageHeader">
      <div class="logo">
        <img
          src="https://pbs.twimg.com/profile_images/741659820298805248/6J3xG0Mc_400x400.png"
          alt="eReuse logo"
        />
      </div>
      <div class="title">Device Report</div>
    </header>
    <main>
      <section>
        <div>
          <span><b>Device Address: </b></span>
          <span>0x<%= device.address%></span>
        </div>
      </section>
      <section>
        <div class="section-title">Device Metrics</div>
        <div>
          <span><b>Base Usage: </b></span>
          <span><%= device.impact.firstUsage %> hours</span>
        </div>
        <div>
          <span><b>Extended Life-Time: </b></span>
          <span><%= device.impact.extendedUsage %> hours</span>
        </div>
        <div>
          <span><b>Last Score: </b></span>
          <span><%= device.impact.lastScore %>/10</span>
        </div>
        <br />
        <div>
          <span><b>#Proofs: </b></span>
          <span
            ><%= device.proofs.functionproofs.length +
            device.proofs.recycleproofs.length +
            device.proofs.reuseproofs.length +
            device.proofs.datawipeproofs.length +
            device.proofs.transferproofs.length %></span
          >
        </div>
      </section>
      <section>
        <div class="section-title">Proofs</div>
        <% if (device.proofs.functionproofs.length > 0) {%>
        <div class="proofs-table-title">Function Proofs</div>
        <div class="proofs-table-wrapper">
          <table class="proofs-table">
            <tr>
              <th>block</th>
              <th>user address</th>
              <th>device address</th>
              <th>score</th>
              <th>disk usage</th>
              <th>algorithm version</th>
            </tr>
            <% device.proofs.functionproofs.forEach(proof => { %>
            <tr>
              <td><%= proof.block %></td>
              <td><%= helpers.getShortAddress(proof.useraddress) %></td>
              <td><%= helpers.getShortAddress(proof.deviceaddress) %></td>
              <td><%= proof.score %></td>
              <td><%= proof.diskusage %></td>
              <td><%= proof.algorithmversion %></td>
            </tr>
            <% }) %>
          </table>
        </div>
        <%}%> <% if (device.proofs.recycleproofs.length > 0) {%>
        <div class="proofs-table-title">Recycle Proofs</div>
        <div class="proofs-table-wrapper">
          <table class="proofs-table">
            <tr>
              <th>block</th>
              <th>user address</th>
              <th>device address</th>
            </tr>
            <% device.proofs.recycleproofs.forEach(proof => { %>
            <tr>
              <td><%= proof.block %></td>
              <td><%= helpers.getShortAddress(proof.useraddress) %></td>
              <td><%= helpers.getShortAddress(proof.deviceaddress) %></td>
            </tr>
            <% }) %>
          </table>
        </div>
        <%}%> <% if (device.proofs.recycleproofs.length > 0) {%>
        <div class="proofs-table-title">Recycle Proofs</div>
        <div class="proofs-table-wrapper">
          <table class="proofs-table">
            <tr>
              <th>block</th>
              <th>user address</th>
              <th>device address</th>
              <th>receiver segment</th>
              <th>id receipt</th>
              <th>price</th>
            </tr>
            <% device.proofs.reuseproofs.forEach(proof => { %>
            <tr>
              <td><%= proof.block %></td>
              <td><%= helpers.getShortAddress(proof.useraddress) %></td>
              <td><%= helpers.getShortAddress(proof.deviceaddress) %></td>
              <td><%= proof.receiversegment %></td>
              <td><%= proof.idreceipt %></td>
              <td><%= proof.price %></td>
            </tr>
            <% }) %>
          </table>
        </div>
        <%}%>
      </section>
    </main>
    <footer id="pageFooter">
      Created by eReuse on <%=date%>
      <br />
      Validate this report at:
      <a href="<%=validateUrl%>"><%= validateUrl%></a>
    </footer>
  </body>
</html>
