<!DOCTYPE html>
<html>
  <% const getShortAddress = (address) => { %> <%const beginning =
  address.substring(0, 4) %> <%const end = address.substring(address.length -
  5,address.length - 1) %> <%return "0x" + beginning + "..." + end } %>
  <head>
    <style>
      body {
        font-family: Roboto;
        font-size: small;
        color: #33333344;
      }
      #pageHeader {
        display: -webkit-flex;
        margin: 10px 50px;
      }
      #pageHeader > .logo {
        display: inline-block;
        height: 50px;
        margin-right: 20px;
      }
      #pageHeader > .title {
        line-height: 50px;
        font-family: Roboto;
        font-size: 20px;
      }
      .logo > img {
        height: 100%;
      }
      main {
        margin: 0px 50px;
      }
      .section-title {
        color: #3f50b5;
        font-family: Roboto;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.15px;
        margin-bottom: 10px;
        margin-top: 15px;
        border-bottom: 1px solid #474747;
      }
      .metrics-row {
        text-align: justify;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
      }
      .paper-box {
        display: inline-block;
        width: 160px;
        margin: 10px;
        padding: 10px 15px;
        border: 1px solid #eee;
        border-radius: 8px;
        color: #000;
        background-color: #f8f8f8;
      }
      .paper-box.right {
        position: relative;
        right: 0;
      }
      .paper-box-title {
        font-family: Roboto;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.4px;
        margin-bottom: 4px;
      }
      .paper-box-content {
        font-family: Roboto;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.25px;
      }
      .proofs-table-title {
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.15px;
        margin-top: 20px;
      }
      .proofs-table-wrapper {
        margin-bottom: 30px;
        margin-top: 10px;
        width: 100%;
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.24),
          0px 1px 1px 0px rgba(0, 0, 0, 0.14),
          0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
      }
      .proofs-table {
        border-collapse: collapse;
        width: 100%;
        border: 0;
      }
      .proofs-table th,
      td {
        border: none;
        border-bottom: 1px solid rgba(224, 224, 224, 1);
        padding: 6px;
        font-size: 10px;
        font-family: Roboto;
      }
      .proofs-table tr:last-child > td {
        border-bottom: none;
      }
      .proofs-table th:nth-child(1) {
        text-align: left;
      }
      .proofs-table td:nth-child(n + 2) {
        text-align: center;
      }
      .proofs-table th {
        font-weight: 500;
      }
      #pageFooter {
        margin: 0px 50px;
        font-size: 10px;
      }
    </style>
  </head>

  <body>
    <header id="pageHeader">
      <div class="logo">
        <img
          src="https://pbs.twimg.com/profile_images/741659820298805248/6J3xG0Mc_400x400.png"
          alt="eReuse logo"
        />
      </div>
      <div class="title">User Report</div>
    </header>
    <main>
      <section>
        <div>
          <span><b>User Address: </b></span>
          <span>0x<%= userAddress%></span>
        </div>
      </section>
      <section>
        <div class="section-title">User Metrics</div>
        <div>
          <span><b>Total Extended Life-Time: </b></span>
          <span><%= totalExtendedUsage %> hours</span>
        </div>
      </section>
    </main>
    <footer id="pageFooter">
      Created by eReuse on <%=date%>
      <br />
      Validate this report at:
      <a href="<%=validateUrl%>"><%= validateUrl%></a>
    </footer>
  </body>
</html>
